<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>My Scene#1</title>
</head>

<body>

{% load static %}
<script src="{% static 'jquery-3.6.0.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

    <div id="scene_list_bg" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
        <div id="written">
            {{ scene.scene_datetime }}
            <br>
            <br>
            {{ scene.scene_content }}
        </div>
        <form method="post" action="{% url 'firstpage:scene_delete' scene.id %}" class="post-form">
        {% csrf_token %}
            <input id="pswd_cfrm" type="text" maxlength="4" name="scene_password" placeholder="####" style="text-align: center;">
            <input id="del_btn" type="submit" value="삭제하기">
        </form>

<!--    2021.04.30 에러 메시지 표시 구현    -->
        {% if messages %}
            <div id="no_del">
                {% for message in messages %}
                    <div>
                    <strong>{{ message.message }}</strong>
                    </div>
            {% endfor %}
            </div>
        {% endif %}

    </div>

</body>

<script>
    $(document).ready(function() {
        $('#no_del').fadeOut(1500)
    })
</script>

</html>