#main1{
    width: 100%;
    height: 750px;
    color: black;
    text-align: center;
    background-color: #536b82;
}
#main1_text{
    padding-top: 300px;
    font-size: 24pt;
    position: fixed;
    left: 45%;
    color: red;
}
#main2{
    width: 100%;
    height: 1000px;
    color: white;
    text-align: center;
    background-color: #727678;
}
#main3{
    width: 100%;
    height: 1000px;
    color: white;
    text-align: center;
    background-color: #e2e0d9;
}